data/license_plate.zip
venv/
__pycache__/
*.pyc
.DS_Store
runs/train/*/weights/last.pt
yoloenv/
venv/
__pycache__/
.DS_Store
*.pyd
*.pyc
yoloenv/
venv/
node_modules/
*.pyd
*.pyc
.DS_Store
__pycache__/
