--extra-index-url https://download.pytorch.org/whl/cpu

# Web Server
flask
gunicorn

# AI & Computer Vision (Dùng bản CPU để không bị quá tải RAM 512MB)
torch
torchvision
opencv-python-headless
numpy==1.26.4
pillow>=10.3.0
PyYAML>=5.3.1
scipy>=1.4.1
tqdm>=4.66.3
matplotlib>=3.3

# OCR (Bản ổn định nhất cho môi trường Cloud)
easyocr
six

# Utils (Hỗ trợ YOLOv5 và xử lý dữ liệu)
gitpython>=3.1.30
psutil
requests>=2.32.2
pandas>=1.1.4
seaborn>=0.11.0
packaging
